@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


.subtitulo {
    font-size: 1rem;
    color:#601d86;
    font-family: 'Montserrat Alternates', sans-serif;
    
}